{{- $raw := .Inner -}}
{{- $clean := replaceRE `^(\$\$|\\\[)|(\$\$|\\\])$` "" $raw | strings.TrimSpace -}}
{{- $encoded := $clean | urlquery -}}
{{- if eq .Type "block" -}}
<figure class="math-figure" data-math="{{ $raw }}">
  <img src="https://latex.codecogs.com/png.image?\dpi{200}\bg{white}{{ $encoded }}" alt="{{ $clean }}" class="math-img">
  <span class="math-tex" style="display:none">{{ $raw }}</span>
</figure>
{{- else -}}
<span class="math-inline" data-math="{{ $raw }}">
  <img src="https://latex.codecogs.com/png.image?\dpi{150}\bg{white}{{ $encoded }}" alt="{{ $clean }}" class="math-img-inline" style="vertical-align:middle">
  <span class="math-tex" style="display:none">{{ $raw }}</span>
</span>
{{- end -}}
